name: Test and Deploy Application

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'docs/**'
      - '.gitignore'
      - 'LICENSE'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Build Docker test image
        run: docker build -t complex-fibonacci-react-test -f ./client/Dockerfile.dev ./client

      - name: Run tests in container
        run: docker run -e CI=true complex-fibonacci-react-test npm run test

  build-and-push:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build production images
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/complex-fibonacci-client:latest -f ./client/Dockerfile ./client
          docker build -t ${{ secrets.DOCKER_USERNAME }}/complex-fibonacci-server:latest -f ./server/Dockerfile ./server
          docker build -t ${{ secrets.DOCKER_USERNAME }}/complex-fibonacci-worker:latest -f ./worker/Dockerfile ./worker
          docker build -t ${{ secrets.DOCKER_USERNAME }}/complex-fibonacci-nginx:latest -f ./nginx/Dockerfile ./nginx
      
      - name: Tag images with commit SHA
        run: |
          docker tag ${{ secrets.DOCKER_USERNAME }}/complex-fibonacci-client:latest ${{ secrets.DOCKER_USERNAME }}/complex-fibonacci-client:${{ github.sha }}
          docker tag ${{ secrets.DOCKER_USERNAME }}/complex-fibonacci-server:latest ${{ secrets.DOCKER_USERNAME }}/complex-fibonacci-server:${{ github.sha }}
          docker tag ${{ secrets.DOCKER_USERNAME }}/complex-fibonacci-worker:latest ${{ secrets.DOCKER_USERNAME }}/complex-fibonacci-worker:${{ github.sha }}
          docker tag ${{ secrets.DOCKER_USERNAME }}/complex-fibonacci-nginx:latest ${{ secrets.DOCKER_USERNAME }}/complex-fibonacci-nginx:${{ github.sha }}
      
      - name: Push images to Docker Hub
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/complex-fibonacci-client:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/complex-fibonacci-client:${{ github.sha }}
          docker push ${{ secrets.DOCKER_USERNAME }}/complex-fibonacci-server:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/complex-fibonacci-server:${{ github.sha }}
          docker push ${{ secrets.DOCKER_USERNAME }}/complex-fibonacci-worker:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/complex-fibonacci-worker:${{ github.sha }}
          docker push ${{ secrets.DOCKER_USERNAME }}/complex-fibonacci-nginx:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/complex-fibonacci-nginx:${{ github.sha }}

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Generate deployment package
        run: zip -r deploy.zip . -x '*.git*' 'node_modules/*' '*/node_modules/*'

      - name: Get timestamp for unique version
        id: timestamp
        run: echo "timestamp=$(date +%s)" >> $GITHUB_OUTPUT

      - name: Deploy to AWS Elastic Beanstalk
        uses: einaregilsson/beanstalk-deploy@v21
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: complex-fibonacci
          environment_name: complex-fibonacci-env
          version_label: ${{ github.sha }}-${{ steps.timestamp.outputs.timestamp }}
          region: eu-north-1
          deployment_package: deploy.zip
          use_existing_version_if_available: true